name: 'test'

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Crowdin Action
        uses: ./
        with:
          command: 'push'
          command_args: '-h'

      - name: Get CLI version
        uses: ./
        with:
          command: 'init'
          command_args: '-V'

  test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Crowdin Action
        uses: ./
        with:
          command: 'push'
          command_args: '-h'

      - name: Get CLI version
        uses: ./
        with:
          command: 'init'
          command_args: '-V'
